<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="furMix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <probing privatePath="dll" />
      </assemblyBinding>
    </runtime>
    <startup useLegacyV2RuntimeActivationPolicy="true">
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
      <requiredRuntime version="v4.0.20506"/>
    </startup>
    <userSettings>
        <furMix.Properties.Settings>
            <setting name="Activated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Version" serializeAs="String">
                <value>0.7.1000</value>
            </setting>
            <setting name="Edition" serializeAs="String">
                <value>Basic Edition</value>
            </setting>
            <setting name="Casino" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NetPort" serializeAs="String">
                <value>1502</value>
            </setting>
            <setting name="PlaybackDevice" serializeAs="String">
                <value>0</value>
            </setting>
        </furMix.Properties.Settings>
    </userSettings>
</configuration>
