<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="furMix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <probing privatePath="dll" />
         <dependentAssembly>
            <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
         </dependentAssembly>
      </assemblyBinding>
    </runtime>
    <startup useLegacyV2RuntimeActivationPolicy="true">
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
      <requiredRuntime version="v4.0.20506" />
    </startup>
    <userSettings>
        <furMix.Properties.Settings>
            <setting name="Activated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Version" serializeAs="String">
                <value>0.10.2158</value>
            </setting>
            <setting name="Edition" serializeAs="String">
                <value>Basic Edition</value>
            </setting>
            <setting name="VideoError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NetPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="PlaybackDevice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Screen" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Trial" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrialDate" serializeAs="String">
                <value />
            </setting>
            <setting name="Welcome" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="WebPort" serializeAs="String">
                <value>1551</value>
            </setting>
            <setting name="WebServer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckUpdates" serializeAs="String">
                <value>True</value>
            </setting>
        </furMix.Properties.Settings>
    </userSettings>
</configuration>
